@import '../../../styles/variables.module.scss';

.sidebar {
    position: fixed;
    top: calc($navbar-height + $marge + 16px);
    left: 0;
    bottom: 0;
    width: $sidebar-width;
    padding-left: $marge;
    padding-bottom: $marge;

    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - calc($navbar-height + $marge + 16px));

    transition: .4s ease;

    @media screen and (max-width: 1200px) {
        left: -$sidebar-width;
    }

    &__up {
        & > * {
            margin-bottom: $marge;
        }
    }

    &__bottom {
        & > * {
            margin-top: $marge;
        }
    }

}