@import '../../../styles/variables.module.scss';

.team {
    display: flex;
    flex-direction: column;
    &__section {
        display: flex;
        justify-content: space-between;
        margin-bottom: $espacement;
        position: relative;

        &--letter {
            position: sticky;
            height: 20px;
            top: $navbar-height;
            font-size: 5rem;
            font-family: 'Poppins';
            font-weight: 600;
            width: 10%;
        }

        &--members {
            width: 90%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 8px;
            grid-row-gap: 8px;
        }
    }
}