@import '../../../styles/variables.module.scss';


.recentArticles {

    &__component {
        
    }

    &--title {
        margin-bottom: $espacement;

        &--accent {
            color: $accent;
        }
    }

    &__articles {
        display: grid;

        grid-template-columns: repeat(3, 1fr);
        grid-gap: 8px;

        transition: .4s ease;
        @media screen and (max-width: 600px) {
            grid-template-columns:  1fr;
        }
    }
}