@import '../../styles/variables.module.scss';

.article {
    position: absolute;
    top: calc($navbar-height + $marge * 2);
    left: calc($sidebar-width + $marge);
    
    width: calc(100% - $sidebar-width - $espacement * 2);

    @media screen and (max-width: 1200px) {
        left: $marge;
        width: calc(100% - $marge * 2);
    }
    // overflow: hidden;
    background-color: white;
    // z-index: 100;
    // padding: $espacement;
    border-radius: 24px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &::before {
        content: "";
        background-color: $accent;
        position: absolute;
        top: -18px;
        height: 18px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        z-index: -1;
        border-radius: 24px;
        opacity: 0.1;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 24px;

        margin-bottom: 100px;
        
        &__cover {
            width: 100%;
            height: 500px;
            border-radius: 24px;
            overflow: hidden;
            position: relative;

            &--overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%,rgba(0, 0, 0, 0.6) 25%,rgba(0, 0, 0, .8) 50%,rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.9) 100%);
                border-radius: 24px;
                z-index: 2;
                opacity: .8;
                // display: none;

            }

            &--close {
                position: absolute;
                z-index: 100;
                top: $espacement;
                right: $espacement;
                width: calc($espacement * 2);
                height: calc($espacement * 2);
                transform: translate(-50%, -50%);
                border-radius: 100%;
                border: none;
                background-color: rgba(255, 255, 255, 0.218);
                backdrop-filter: blur(10px);
                cursor: pointer;
                transition: .4s;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                    width: $espacement;
                    height: 3px;
                    background-color: #fff;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                    width: $espacement;
                    height: 3px;
                    background-color: #fff;
                }


                &:hover {
                    background-color: rgba(255, 255, 255, 0.333);
                }

            }

            &__bloc {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 3;
                display: flex;
                color: #fff;
                flex-direction: column;
                align-items: flex-start;

                &__top {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    bottom: $espacement;
                    left: $espacement;
                    

                    &--title {
                        line-height: 2.2rem;
                        font-size: 2rem;
                        text-transform: uppercase;
                        margin-right: $espacement;
                        max-width: 70%;
                    }

                    &--date {
                        color: $accent;
                        font-weight: 500;
                        font-style: italic;
                        margin-left: 4px;
                    }
                }

                

                &--categories {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: calc($espacement / 2);
                    position: absolute;
                    top: calc($espacement / 2);
                    left: $espacement;
                }

                &--category {
                    padding: 0.5rem 1rem;
                    font-weight: 500;
                    font-family: 'Poppins';
                    color: #fff;
                    background-color: rgba(168, 168, 168, 0.187);
                    backdrop-filter: blur(10px);
                    border-radius: 1rem;
                    margin-right: 1rem;
                }


            }
        }

    }

    &__content {
        padding: $espacement;

        h1,h2,h3,h4,h5,h6 {

            &:not(:first-child) {
                margin-top: 6rem;

            }
            margin-bottom: 2rem;
        }

        p {
            margin-bottom: 2rem;
            color: rgba(46, 46, 46, 0.827);
        }

        img {
            border-radius: 24px;
            width: 100%;
            &:hover {
                transform: none;
            }
        }

        a {
            color: $accent;
            font-weight: 600;
            text-decoration: underline;
            
            &:hover {
                text-decoration: none;
            }

            // when already visited
            &:visited {
                color: $primary-color;
            }
        }

        blockquote {
            p {
                margin-bottom: 1rem;
            }
            border-left: 4px solid $accent;
            padding: 1rem;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 2rem;
            font-style: italic;
            color: $text-paragraph;
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
    }

}