@import '../../../styles/variables.module.scss';

.author {
    position: relative;
    margin: $espacement;
    margin-top: 0;

    padding: $espacement ;

    background-color: $background-card;

    // box-shadow: 0 12px 18px 0 rgba(67, 21, 6, 0.05);
    border-radius: 32px;

    display: flex;
    align-items: center;

    @media screen and (max-width: 700px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        
    }


    &--picture {
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 24px;
        overflow: hidden;
    }

    &__info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 1200px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            
        }

        

        &__bloc {
            padding-left: $espacement;

            @media screen and (max-width: 700px) {
                padding-left: 0;
                padding : 8px 0;
                
            }

            &--accent {
                color: $accent;
                font-weight: 500;
                font-style: italic;
            }
        }
    }
}