@import '/styles/variables.module.scss';

.embla__section {
    position: relative;
}

.embla {
    position: relative;
    // background-color: #f7f7f7;
    // padding: 20px;
    // max-width: 670px;
    // margin-left: auto;
    // margin-right: auto;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
}

.embla__viewport {
    overflow: hidden;
    width: 100%;
}

.embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
}

.embla__viewport.is-dragging {
    cursor: grabbing;
}

.embla__slide__parallax {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.embla__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: -10px;
}

.embla__slide {
    position: relative;
    min-width: 100%;
    padding-left: 10px;
}

.embla__slide__inner {
    position: relative;
    overflow: hidden;
    height: 600px;
    border-radius: 12px;
    overflow: hidden;
}

.embla__slide__img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    transform: translate(-50%, -50%);
}

.embla__button {
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    touch-action: manipulation;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    fill: #1bcacd;
    padding: 0;
}

.embla__button:disabled {
    cursor: default;
    opacity: 0.3;
}

.embla__button__svg {
    width: 100%;
    height: 100%;
}

.embla__button--prev {
    left: 27px;
}

.embla__button--next {
    right: 27px;
}

.embla__dots {
    display: flex;
    list-style: none;
    justify-content: center;
    // padding-top: -10px;
    position: absolute;
    right: 20px;
    // transform: translateX(-50%);
    bottom: 0;
}

.embla__dot {
    background-color: transparent;
    cursor: pointer;
    position: relative;
    padding: 0;
    outline: 0;
    border: 0;
    width: 16px;
    height: 60px;
    margin-right: 7.5px;
    margin-left: 7.5px;
    display: flex;
    align-items: center;
    transition: .4s;
    
    &:hover {
        opacity: .9;
    }
}

.embla__dot:after {
    background-color: #ffffff42;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    content: "";
    transition: .4s;
}

.embla__dot.is-selected:after {
    background-color: #1bcacd;
    opacity: 1;
}

.embla__dot.is-selected {
    width: 32px;
    // background-color: #1bcacd;
    opacity: 1;
}

.embla__dot.is-selected:after {
    background-color: #ffffff;
    width: 100%;
    height: 12px;
    border-radius: 6px;
    content: "";
}

.embla__slide__card {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70%;
        // linear gradient 
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);

    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 70%;
        z-index: 1;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    }


    &__body {
        position: absolute;
        left: 50px;
        bottom: 5%;
        z-index: 1;
        color: #ffffff;
        font-family: 'Poppins';

        &--title {
            font-size: 3rem !important;
            line-height: 2.7rem !important;
            text-overflow: ellipsis;
            width: 50vw;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            height: 3.2rem;
        }

        &--description {
            margin-top: 0rem;
            font-size: 1.2rem !important;
        }

        &--date {
            font-weight: 500;
            color: $accent;
            // italic
            font-style: italic;
            // opacity: .8;
            // margin-bottom: 1rem;
        }

        &--btn {
            margin-top: 1rem;
        }
    }

    &--categories {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
        display: flex;

        .category {
            padding: 0.5rem 1rem;
            font-weight: 500;
            font-family: 'Poppins';
            color: #fff;
            background-color: rgba(168, 168, 168, 0.187);
            backdrop-filter: blur(10px);
            border-radius: 1rem;
            margin-left: 1rem;
        }
    }

    // &--background{
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    // }
}

.embla__slide {
    cursor: pointer;

    img {
        transition: 1s cubic-bezier(.17,.67,.27,1.03);
    }

    &:hover {
        img {
            transform: scale(1.05);
        }
    }

    &:active {
        img {
            transform: scale(1.1);
        }
    }

    
}