$primary-color: #ff00cc;
$accent : #FF7C5B;

$background-color: #F0F0F0;
$background-light: #F0F0F0;
$background-color-blur: #f0f0f02c;
$background-card : #DFDFDF;
$background-card-light : #e8e8e8;
$background-card-hover : #e8e8e8;

$text-light : #A7A7A7;
$text-dark :  #1D1D1D;

$text-paragraph : #A7A7A7;
$text-title :  #1D1D1D;
$text-white :  #fff;

$marge : 24px;
$sidebar-width : 340px;
$navbar-height : 80px;

$espacement : 24px;


